<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=MCALL;User ID=MILLABMX;Password=MILLABMX2014;Unicode=True"
     providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="false">
        <denyUrlSequences>
          <add sequence=".."/>
          <add sequence=":"/>
          <add sequence="\"/>
        </denyUrlSequences>
        <filteringRules>
          <filteringRule name="SQLInjection" scanQueryString="true">
            <appliesTo>
              <add fileExtension=".asp" />
              <add fileExtension=".aspx" />
            </appliesTo>
            <denyStrings>
              <add string="–" />
              <add string="/*" />
              <add string="alter" />
              <add string="begin" />
              <add string="create" />
              <add string="cursor" />
              <add string="delete" />
              <add string="drop" />
              <add string="fetch" />
              <add string="insert" />
              <add string="kill" />
              <add string="open" />
              <add string="select" />
              <add string="sys" />
              <add string="table" />
              <add string="union" />
              <add string="update" />
              <add string="top" />
              <add string="iif" />
              <add string="from" />
              <add string=" or " />
              <add string=" in " />
              <add string="chr" />
              <add string="asc(" />
              <add string="curdir" />
              <add string="len(" />
              <add string="ascii" />
              <add string="substr" />
              <add string="length" />
              <add string="@version" />
              <add string="exists" />
              <add string="end" />
            </denyStrings>
          </filteringRule>
        </filteringRules>
      </requestFiltering>
    </security>
    <!--<requestLimits maxAllowedContentLength="104857600" />-->
  </system.webServer>
  <system.web>
    <globalization
      requestEncoding="utf-8"
      responseEncoding="utf-8" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
    <sessionState timeout="3"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <customErrors mode="Off"/>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>

